---

---

<header class="header">
  <a href="/12_ecsite/">
    <img src="/12_ecsite/images/logo_owarai_white.png" class="header__logo" />
  </a>

  <button class="header__btn">
    <i class="fa-solid fa-cart-shopping"></i>
  </button>
</header>
<div class="wrapper">
  <p class="loop">このサイトは架空のサイトです！🙇‍</p>
  <p class="loop loop2">このサイトは架空のサイトです！🙇‍</p>
</div>
