---

---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="/12_ecsite/style/destyle.css" />
  <link rel="stylesheet" href="/12_ecsite/style/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/e1b45fa584.js"
    crossorigin="anonymous"></script>
  <title>OWARAI SHOP</title>
</head>
