---

---

<header class="header">
  <a href="/index.html">
    <img src="/images/logo_owarai_white.png" class="header__logo" />
  </a>
</header>
<div class="wrapper">
  <p class="loop">このサイトは架空のサイトです！🙇‍</p>
  <p class="loop loop2">このサイトは架空のサイトです！🙇‍</p>
</div>
